<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Launcher1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Launcher1.Properties.Settings>
            <setting name="CurrentVersion" serializeAs="String">
                <value>Dev78</value>
            </setting>
            <setting name="Ambient" serializeAs="String">
                <value>new</value>
            </setting>
            <setting name="Anti" serializeAs="String">
                <value>new</value>
            </setting>
            <setting name="Blur" serializeAs="String">
                <value>new</value>
            </setting>
            <setting name="Bloom" serializeAs="String">
                <value>new</value>
            </setting>
            <setting name="Dof" serializeAs="String">
                <value>new</value>
            </setting>
            <setting name="Gras" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Terrain" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Mesh" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Shader" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Distance" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Music" serializeAs="String">
                <value>False</value>
            </setting>
        </Launcher1.Properties.Settings>
        <Properties.Settings>
            <setting name="CurrentVersion" serializeAs="String">
                <value>Dev78</value>
            </setting>
            <setting name="Ambient" serializeAs="String">
                <value>new</value>
            </setting>
            <setting name="Anti" serializeAs="String">
                <value>new</value>
            </setting>
            <setting name="Blur" serializeAs="String">
                <value>new</value>
            </setting>
            <setting name="Bloom" serializeAs="String">
                <value>new</value>
            </setting>
            <setting name="Dof" serializeAs="String">
                <value>new</value>
            </setting>
        </Properties.Settings>
    </userSettings>
</configuration>